.app-navbar {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  min-height: 55px;
  max-height: 55px;

  .navbar-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .brand-container {
    margin: 0px;
    padding: 0px;
  }

  .left-container {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
  }

  .right-container {
    margin: 0px;
    padding: 0px;
  }

  .icon-menu {
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
    margin-right: 10px;
  }
}
