// mat-palette accepts $palette-name, main, lighter and darker variants
$dogpatch-primary: mat-palette($mat-indigo, 700, 300, 900);
$dogpatch-accent: mat-palette($mat-light-blue);
$dogpatch-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$dogpatch: mat-light-theme(
    $dogpatch-primary,
    $dogpatch-accent,
    $dogpatch-warn
);
